.c1{
        border-radius: 50%;
        text-align: center;
        height: 85px;
        line-height: 5vw;
        margin-left: 3vw;
        color: white;
        font-weight: bold;
    }
    
.img-circle1
{
	border-radius: 50%;
	padding-top: 10%;
}
.img-circle2
{
	margin: 10px;
	border-radius: 50%;
}

.footer-colour
{
	background-color: rgba(232, 53, 86, 1);
	color: white;
}

.mid-2
{
	background-color: rgba(65, 139, 141, 1);
	color: white;
}

.mid-3
{
	background-color: rgba(139, 134, 25, 1);
	color: white;
}